.header {
  height: 10%;
  @include flex-display-center-all;
  background-color: $primary-color;

  .logo {
    flex-grow: 1;
    margin-left: 5rem;
    font-size: 1.2rem;
    color: $secondary-color;
  }

  .navbar {
    @include flex-display-center-all;
    gap: 2rem;
    flex-grow: 1;
    & ul li {
      list-style: none;
    }

    & a {
      text-decoration: none;
      font-size: 1.2rem;
      color: $secondary-color;
      transition: 1s;
      border-radius: 0.5rem;
      padding: 0.4rem;
      &:hover {
        background-color: $secondary-color;
        color: $primary-color;
      }
    }
  }
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-hamburguer {
  display: none;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;

  .bar {
    transition: 1s;
    display: block;
    width: 3rem;
    height: 0.5rem;
    background-color: $secondary-color;
  }
}

.mobile-menu-displayed {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
  top: 5rem;
  width: 100%;
  height: 100%;
  background-color: $secondary-color;
  & ul {
    list-style: none;
    & li a {
      transition: 1s;
      color: $primary-color;
      text-decoration: none;
      border-radius: 1rem;
      padding: 0.7rem;
      width: 2rem;
      font-size: 2rem;
      font-weight: bold;
      &:hover {
        background-color: $primary-color;
        color: $secondary-color;
      }
    }
  }
}

.non-displayed {
  display: flex;
}

.clicked {
  #line1 {
    transform: translateY(7.7px) rotate(45deg);
  }

  #line2 {
    opacity: 0;
  }

  #line3 {
    transform: translateY(-12.3px) rotate(-45deg);
  }
}

@media only screen and (max-width: 480px) {
  .header {
    justify-content: space-around;
    .navbar {
      gap: 1rem;
      display: none;
    }

    .navbar ul li a {
      font-size: 1rem;
    }

    .logo {
      flex-grow: 0.5;
      margin-left: 0;
    }
  }

  .navbar-hamburguer {
    display: flex;
  }
}
