.instructionsContainer {
  @include flex-display-center-all;
  height: 90%;
  width: 100%;
  background-color: $primary-color;
  color: $secondary-color;
  & ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    width: 80%;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }

  #list {
    transition: 0.2s;
    font-size: 1.1rem;
    width: 50%;
    margin-top: 0.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: $primary-color;
    background-color: $secondary-color;
    text-align: center;
    &:hover {
      transform: translateY(-3px);
    }
  }
}

.listBreed {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $secondary-color;
  color: $primary-color;
  width: 90%;
  height: 70%;
  border-radius: 1rem;
  & ol {
    @include flex-display-center-all;
    flex-direction: column;
  }
}

.displayedList {
  display: flex;
}

.closeList {
  margin-top: 1rem;
  border: none;
  background: $primary-color;
  color: $secondary-color;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  transition: 1s;
  &:hover {
    background: $secondary-color;
    color: $primary-color;
  }
}

@media only screen and (max-width: 480px) {
  .instructionsContainer ol {
    width: 70%;
    font-size: 1.2rem;
    text-align: left;
    & {
      #list {
        font-size: 1rem;
        width: 100%;
      }
    }
  }
}
